<%- include("header") -%>
        <div class="box">
            <% userTasks.forEach(userTask => { %>
                <form method="post" action="/delete">
                    <div class="item">
                        <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%=userTask._id%>">
                        <p id="task"><%= userTask.name %></p>
                    </div>
                    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
                </form>
            <%  }) %>
                
            <form action="/" method="post">
                <input type="text" name="taskInput" placeholder="Enter a task" autocomplete="off">
                <button type="submit" name="list" value=<%= listTitle %>>+</button>
            </form>
        </div>
<%- include("footer") -%>